$base-color: #241e20; // light pink
$h-color: rgb(168, 165, 165);
$background-footer: #180a0f;
$background-header: #180a0f;
$title: rgb(212, 198, 198);
$nav-color: rgb(165, 158, 158);
$font-color: rgb(165, 158, 158);
